.git/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/node_modules/
**/.yarn/
**/dist/
site/
docs-site/
**/.quasar/
**/.vite/
**/*.egg-info/
**/*.log
.env*
!.env.default
apps/backend/storage/*
apps/backend/import/*
apps/backend/data/*
apps/agent/data/*
apps/agent/data-dev-native/*
